<!-- TODO: replace the contents of this file with your own html -->
<div class="palm-hasheader">
	<div class="palm-header">
		App Scanner
	</div>
</div>
<div class="palm-header-spacer"></div>
<div class="palm-body-text">
	Scanning for missing apps...
</div>
<div class="palm-group">
	<div class="palm-group-title">
		<span x-mojo-loc="">APP INFO</span>
	</div>
	<div class="palm-list">
		<div class='palm-row single'>
			<div class="palm-row-wrapper">
				<div id="resultsArea" style="margin-top:15px; font-family: monospace;">
					Loading app list and checking installed apps...
				</div>
			</div>
		</div>
	</div>
</div>
